absl-py==2.0.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
altair==5.1.2
aniso8601==9.0.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
bidict==0.22.1
Bottleneck==1.3.7
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==14.0
contourpy==1.2.0
crcmod==1.7
cryptography==41.0.5
cycler==0.12.1
Cython==0.29.36
datasets==2.13.0
decorator==4.4.2
dill==0.3.6
Distance==0.1.3
distro==1.8.0
dnspython==2.3.0
edit-distance==1.0.6
editdistance==0.6.2
einops==0.7.0
espnet-tts-frontend==0.0.3
et-xmlfile==1.1.0
eventlet==0.33.3
exceptiongroup==1.1.3
fastapi==0.104.1
ffmpeg==1.4
ffmpy==0.3.1
filelock==3.13.1
Flask==2.2.5
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
flask-talisman==1.1.0
fonttools==4.44.3
frozenlist==1.4.0
fsspec==2023.10.0
funasr==0.8.4
g2p==1.1.20230822
g2p-en==2.1.0
gast==0.5.4
google-auth==2.23.4
google-auth-oauthlib==1.1.0
gradio==4.4.0
gradio_client==0.7.0
greenlet==3.0.1
grpcio==1.59.2
h11==0.14.0
h5py==3.10.0
hdbscan @ file:///D:/bld/hdbscan_1696600424503/work
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.19.3
humanfriendly==10.0
idna==3.4
imageio==2.32.0
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==6.1.1
inflect==7.0.0
itsdangerous==2.1.2
jaconv==0.3.4
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
kaldiio==2.18.0
kiwisolver==1.4.5
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.41.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
mdurl==0.1.2
modelscope==1.9.5
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.14
munkres==1.1.4
nara-wpe==0.0.9
networkx==2.8.4
nltk==3.8.1
numba==0.58.1
numpy @ file:///D:/bld/numpy_1695291088396/work/dist/numpy-1.26.0-cp39-cp39-win_amd64.whl#sha256=3bf8e34c9e5371f90bc54396e97ec118512980246f410b3506281daef313a82d
oauthlib==3.2.2
openai==0.27.0
openpyxl==3.1.2
orjson==3.9.10
oss2==2.18.3
packaging==23.2
pandas==2.1.3
panphon==0.20.0
Pillow==10.0.1
platformdirs==4.0.0
pooch==1.8.0
proglog==0.1.10
protobuf==4.23.4
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.5.1
pydantic_core==2.14.3
pydub==0.25.1
Pygments==2.16.1
PyMySQL==1.1.0
pyparsing==3.1.1
pypinyin==0.49.0
pyreadline3==3.4.1
python-dateutil==2.8.2
python-engineio==4.8.0
python-multipart==0.0.6
python-socketio==5.10.0
pytorch-wpe==0.0.1
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rotary-embedding-torch==0.3.5
rpds-py==0.13.0
rsa==4.9
scikit-learn @ file:///D:/bld/scikit-learn_1698224983991/work
scipy @ file:///C:/bld/scipy-split_1696467709181/work/dist/scipy-1.11.3-cp39-cp39-win_amd64.whl#sha256=75a3cb5d54d11aff302833ec3393a9392d1002b34c153968194483d6546445af
semantic-version==2.10.0
sentencepiece==0.1.99
shellingham==1.5.4
simple-websocket==1.0.0
simplejson==3.19.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soxr==0.3.7
starlette==0.27.0
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
text-unidecode==1.3
TextGrid==1.5
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.1
torch-complex==0.4.3
torchaudio==2.1.1
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
umap==0.1.1
unicodecsv==0.14.1
Unidecode==1.3.7
urllib3==2.1.0
uvicorn==0.24.0.post1
websockets==11.0.3
Werkzeug==2.2.3
wsproto==1.2.0
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.2
zipp==3.17.0
